.error-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 128px;
}

.error-page .large {
  font-size: 80px;
  font-weight: 800;
  color: var(--error);
}

.error-page .text span {
  color: var(--green);
  text-decoration: underline;
  cursor: pointer;
}